{{ include('_templates/header.html.twig') }}

<br/>

<div class="container">

    <h2>Alerter les secours</h2>

    <br/>

    <div class="alert alert-danger" role="alert" id="error" hidden></div>

    <p id="street"></p>

    <br/>

    <div id="map" class="embed-responsive embed-responsive-16by9">

    </div>

    <br/>
    <br/>

    <ul class="list-group">
        <li class="list-group-item"><a href="tel:17">Police : 17</a></li>
        <li class="list-group-item"><a href="tel:15">SAMU : 15</a></li>
        <li class="list-group-item"><a href="tel:18">Pompiers : 18</a></li>
        <li class="list-group-item"><a href="tel:112">Numéro d'appel européen : 112</a></li>
    </ul>

    <br/>

</div>

{{ include('_templates/footer.html.twig') }}

<script>

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        $("#map").hide();
        $("#error").append("La géolocalisation n'est pas disponible sur votre navigateur !");
        $("#error").removeAttribute('hidden');
    }

    function showPosition(position) {
        if(position.coords.latitude && position.coords.longitude){
            $.ajax({
                type: "POST",
                url: "api/geocode",
                data: {
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                },
                dataType: 'text',
                success: function(data){

                    console.log(data);

                    $("#street").append("Votre adresse : <b>" + data + "</b>");

                    $("#map").append("<iframe class=\"embed-responsive-item\" width=\"700\" height=\"350\" style=\"border:0\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyDq5dRP3hB67l3cKab17pQy48ERlNQkcIc&q=" + position.coords.latitude + "," + position.coords.longitude +"\" allowfullscreen> </iframe>");

                }
            });
        }
    }

    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                $("#map").hide();
                $("#error").append("Vous n'avez pas autorisé la récupération de votre position");
                $("#error").removeAttr('hidden');
                break;
            case error.POSITION_UNAVAILABLE:
                $("#map").hide();
                $("#error").append("Imposibble de trouver votre position");
                $("#error").removeAttr('hidden');
                break;
            case error.TIMEOUT:
                console.log("The request to get user location timed out.");
                break;
            case error.UNKNOWN_ERROR:
                $("#map").hide();
                $("#error").append("Une erreur est survenue !");
                $("#error").removeAttr('hidden');
                break;
        }
    }

</script>