{{ include('_templates/header.html.twig') }}

<br/>

<div class="container">

    <h2>Alerter les secours</h2>

    <br/>

    <p id="street"></p>

    <br/>

    <div id="map" class="embed-responsive embed-responsive-16by9">

    </div>

    <br/>
    <br/>

    <ul class="list-group">
        <a href="tel:17"><li class="list-group-item">Police : 17</li></a>
        <a href="tel:15"><li class="list-group-item">SAMU : 15</li></a>
        <a href="tel:18"><li class="list-group-item">Pompiers : 18</li></a>
        <a href="tel:112"><li class="list-group-item">Numéro d'appel européen : 112</li></a>
    </ul>

</div>

{{ include('_templates/footer.html.twig') }}

<script>

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        console.log("Geolocation is not supported by this browser.");
    }

    function showPosition(position) {
        if(position.coords.latitude && position.coords.longitude){
            $.ajax({
                type: "POST",
                url: "api/geocode",
                data: {
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                },
                dataType: 'text',
                success: function(data){

                    console.log(data);

                    $("#street").append("Votre adresse : <b>" + data + "</b>");

                    $("#map").append("<iframe class=\"embed-responsive-item\" width=\"700\" height=\"350\" style=\"border:0\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyDq5dRP3hB67l3cKab17pQy48ERlNQkcIc&q=" + position.coords.latitude + "," + position.coords.longitude +"\" allowfullscreen> </iframe>");

                }
            });
        }
    }

    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                console.log("User denied the request for Geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                console.log("Location information is unavailable.");
                break;
            case error.TIMEOUT:
                console.log("The request to get user location timed out.");
                break;
            case error.UNKNOWN_ERROR:
                console.log("An unknown error occurred.");
                break;
        }
    }

</script>