{{ include('_templates/header.html.twig') }}

<br/>

<div class="container">

  <center><img src="img/logo.png" class="img-fluid" style="width: 50%;"/></center>

  <br/>
  <br/>

  <div class="row">
    <div class="col-sm">
      <div class="card">
        <a href="alerts"><img class="card-img-top" src="img/alerter.jpeg" alt="Alerter les secours"></a>
      </div>
      <br/>
    </div>
    <div class="col-sm">
      <div class="card">
        <a href="personal"><img class="card-img-top" src="img/personnelle.jpeg" alt="Données personnelles"></a>
      </div>
    </div>
  </div>
</div>

{{ include('_templates/footer.html.twig') }}