{{ include('_templates/header.html.twig') }}

<br/>

<div class="container">
    <h1>Home</h1>
    <h2>You are in the View: application/view/Warning/index.html.twig (everything in the box comes from this file)</h2>
    <p>In a real application this could be the homepage.</p>
</div>
<div id="alert_bloc">
</div>
<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(alert_message);
    } else {
        console.log("Geolocation is not supported by this browser.");
    }

    function alert_message(position) {
        $.ajax({
            type: "GET",
            url: "https://api.openweathermap.org/data/2.5/weather?lat="+ position.coords.latitude + "&lon="+ position.coords.longitude +"&lang=fr&appid=9a082f99e2a2a8496598644aac3b7546",
            success: function(result){
                jsonWeatherRead(result);
            }});

    }

    function jsonWeatherRead(jsonObject) {
        var weatherInfo = jsonObject.weather[0].description;
        var temp = jsonObject.main.temp - 273.15;
        temp = 2;
        if ( temp < 3){
            $("#alert_bloc").append("<div class='alert alert-danger alert-dismissible fade show' role='alert'><strong>Alerte Verglas : Conduis Prudemment </strong>(La température est de " + temp + "°C)<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n<span aria-hidden=\"true\">&times;</span>\n</button>")
        }

    }
</script>
{{ include('_templates/footer.html.twig') }}