
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
            n = 0;
        $(document).keydown(function (e) {
            if (e.keyCode === k[n++]) {
                if (n === k.length) {
                    var win = window.open("https://www.youtube.com/watch?v=ds4J42JsD7E", '_blank');
                    win.focus();
                    n = 0;
                    return false;
                }
            }
            else {
                n = 0;
            }
        });

    </script>

</body>
</html>
