
    <div class="footer">
        Find <a href="https://github.com/vfrz/mini4">MINI4 on GitHub</a>.
        If you like the project, support it by <a href="http://tracking.rackspace.com/SH1ES">using Rackspace</a> as your hoster [affiliate link].
    </div>

    <!-- jQuery, loaded in the recommended protocol-less way -->
    <!-- more http://www.paulirish.com/2010/the-protocol-relative-url/ -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- define the project's URL (to make AJAX calls possible, even when using this in sub-folders etc) -->
    <script>
        var url = "{{ URL }}";
    </script>

    <!-- our JavaScript -->
    <script src="{{ URL }}js/application.js"></script>
</body>
</html>
