<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MINI4</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JS -->
    <!-- please note: The JavaScript files are loaded in the footer to speed up page construction -->
    <!-- See more here: http://stackoverflow.com/q/2105327/1114320 -->

    <!-- CSS -->
    <link href="{{ URL }}css/style.css" rel="stylesheet">
</head>
<body>
    <!-- logo, check the CSS file for more info how the logo "image" is shown -->
    <div class="logo"></div>

    <!-- navigation -->
    <div class="navigation">
        <a href="/">home</a>
        <a href="{{ URL }}home/exampleone">home/exampleone</a>
        <a href="{{ URL }}home/exampletwo">home/exampletwo</a>
        <a href="{{ URL }}songs">songs</a>
    </div>
