{{ include('_templates/header.html.twig') }}

<div class="container text-center">
    <h2>Eh bah, on dirait que tu t'es perdu... Je vais en profiter pour te faire découvrir le dikdik.</h2>
    <br/>
    <img class="center-text" src="{{ URL }}/img/error.gif" alt="">
    <br/><br/>
    <p>Les dik-diks (du genre Madoqua) sont des antilopes naines, qui mesurent à l'épaule de 30 à 43 cm. <strong>(Si tu veux
            retourner à l'accueil, clic sur le nom en haut à gauche)</strong> Le nom
        "dik-dik" vient du bruit qu'ils font lorsqu'ils sont en danger. Les dik-diks pèsent de 3 à 5 kg. Ils ont un
        museau allongé, et une légère fourrure qui est grise sur le dos, et blanche au niveau du ventre. Sur le haut du
        crâne, le pelage forme une touffe droite, qui cache parfois partiellement les cornes courtes du mâle. Le dik-dik
        de Swayne est le plus petit dik-dik.</p>
    <h4>Caractéristiques physiques</h4>
    <p>Les femelles sont légèrement plus larges que les mâles. Ces derniers ont des cornes assez courtes, qui mesurent 3
        à 7,5 cm, inclinées vers l'arrière. La tête du dik-dik semble parfois disproportionnée par rapport au petit
        corps de l'animal. Le haut du corps est gris-brun, alors que la partie ventrale et les pattes sont brun clair.
        Beaucoup de dik-diks ont un anneau de couleur pâle autour de l'œil.</p>
    <br/>
    <h4>Habitat</h4>
    <p>Les dik-diks vivent principalement en Afrique de l'est. Ils préfèrent les habitats où l'herbe et les arbustes
        comestibles sont abondants, toutefois leur mets favori est le feuillage. Ils vivent dans de grandes plaines
        parmi d'autres herbivores comme les girafes et les antilopes. Ils peuvent aussi vivre dans des forêts denses,
        mais ils nécessitent une bonne couverture contre les prédateurs, et une faible quantité de grandes plantes. En
        effet, ils se déplacent dès que l'herbe devient trop grande et les empêche de voir. Ils doivent aussi disposer
        de cachettes, afin d'échapper aux prédateurs. Ils vivent habituellement en couple sur un territoire de 0,05 km2.
        Ils profitent des pistes créées par l'homme pour bloquer les autres dik-diks, spécialement les femelles.</p>
    <br/>
    <h4>Comportement</h4>
    <p>Les dik-diks vivent en couple monogame dans un territoire fixe de 0,05 km2. Ils sont le plus souvent des animaux
        semi-nocturnes, se nourrissant la nuit, le plus souvent avant l'aube et après le crépuscule. Ils vivent toute
        leur vie avec le même compagnon. Certaines légendes africaines rapportent que si l'un des deux meurt, l'autre
        mourra de chagrin. À la naissance, les faons pèsent environ 0,7 kg. Ils atteignent l'âge adulte entre 6 et 8
        mois.

        Les dik-diks présentent un comportement assez unique face à un prédateur terrestre trop proche pour qu'ils
        puissent le fuir en toute sécurité : ils s'immobilisent face à lui, et lorsque le prédateur attaque, ils se
        bornent à l'esquiver en faisant un démarrage rapide suivi d'une nouvelle immobilisation.

        Le manège dure jusqu'à ce que le prédateur se décourage, ce qui peut prendre plusieurs minutes avec un jeune
        prédateur inexpérimenté...</p>
    <br/>
    <h4>Régime alimentaire</h4>
    <p>Les dik-diks sont des animaux herbivores, se nourrissant de feuilles, de pousses, de fruits et de baies. Les
        dik-diks consomment ainsi suffisamment d'eau pour leur éviter de boire. La forme allongée de leur tête leur
        permet de manger les feuilles d'acacia sans se faire piquer par ses épines, et permettant aussi de rester à
        l'affût d'éventuels prédateurs alors qu'ils se nourrissent.</p>
</div>

{{ include('_templates/footer.html.twig') }}


