{{ include('_templates/header.html.twig') }}

<div class="container">
  <p>This is the Error-page. Will be shown when a page (= controller / method) does not exist.</p>
</div>

{{ include('_templates/footer.html.twig') }}


